body {
    font-family: Arial, Helvetica, Sans-serif;
}

h1 {
    font-family: "Times New Roman", Arial;
    font-size: 20px;
    font-style: italic;
    font-weight: normal;
    color: #4281Ed;
    text-align: right;
    text-decoration: underline;
    text-transform: uppercase;
}

p {
    text-align: justify;
    /*     letter-spacing: 1px; para aumentar el espacio entre las letras, definido en pixeles o en em, o rem*/
    /* line-height: 40px; Espacio de interlineado */
}