p {
    font-size: 1em;
}

.hijo {

    width: 10em;
    height: 10em;
    background: #000;
    color: #fff;
}

.contenedor_padre {

    font-size: 22px;
    background: red;
    height: 15em;
}

body {

    font-size: 15px;
}